<div class="container mt-4">
  <div class="row">
    <div class="col">
      <dl>
        <dt class="bold" >Código: </dt>
        <dd class="align-content-lg-center justificado">{{productoSelected.codigo}}</dd>
      </dl>
      <hr>
      <dl>
        <dt class="bold" >Nombre: </dt>
        <dd class="align-content-lg-center justificado">{{productoSelected.nombre}}</dd>
      </dl>

      <hr>
      <dl>
        <dt class="bold" >Tipo: </dt>
        <dd class="align-content-lg-center justificado">{{productoSelected.tipo.nombre}}</dd>
      </dl>
      <hr>
      <dl>
        <dt class="bold" >Material: </dt>
        <dd class="align-content-lg-center justificado">{{productoSelected.material.nombre}}</dd>
      </dl>
      <hr>
      <dl>
        <dt class="bold" >Aplica descuento: </dt>
        <dd class="align-content-lg-center justificado">{{productoSelected.aplicadescuento }}</dd>
      </dl>
      <hr>
      <dl>
        <dt class="bold" >Valor descuento: </dt>
        <dd class="align-content-lg-center justificado">{{productoSelected.valordescuento}}</dd>
      </dl>
      <hr>
    </div>

  </div>
</div>
